.mainContato {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-size: 48px;
    font-family: "Playfair Display", serif;
    font-weight: 100;
    margin: 20px 0 24px;
  }

  p {
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
  }

  .containerInfo {
    padding: 2rem;
    display: flex;
    gap: 4rem;

    .formContato {
      box-shadow: 0px 3px 3px 3px rgba($color: #c2c2c2, $alpha: 0.5);
      border-radius: 12px;
      display: flex;
      flex-direction: column;
      padding: 3rem;

      textarea {
        font-size: 16px;
      }

      input {
        width: 28rem;
        padding: 0.75rem;
        border: 1px solid grey;
        border-radius: 10px;
        margin-top: 1rem;
        margin-bottom: 1rem;
        height: 3rem;
      }

      .caixaMensagem {
        height: 7rem;
        border: 1px solid grey;
        border-radius: 10px;
        margin: 1rem 0;
        padding: 1rem;
      }

      button {
        padding: 0.75rem;
        background-color: #fb64b6;
        color: #fff;
        border: none;
        border-radius: 14px;
        height: 3rem;
      }

      label {
        font-family: "Montserrat", sans-serif;
        font-size: 16px;
      }
    }
  }

  .containerCards {
    display: flex;
    flex-direction: column;
    gap: 2rem;

    article,
    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    article {
      height: 15rem;
      padding: 2rem;
      border-radius: 1.5rem;
      box-shadow: 0px 3px 3px 3px rgba($color: #c2c2c2, $alpha: 0.5);

      h2 {
        font-family: "Playfair Display", serif;
        font-size: 1.5rem;
        font-weight: 100;
        margin-bottom: 1.2rem;
      }

      .item {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 30rem;
        gap: 1rem;
        margin-bottom: 1rem;

        .infoContato {
          h3 {
            font-size: 1rem;
            font-weight: 100;
          }

          p {
            font-size: 1rem;
          }
        }

        .circulo {
          background-color: #fce7f3;
          color: #f6339a;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
        }
      }
    }

    .redes {
      background: linear-gradient(120deg, #fae7f3 0%, #deeafe 100%);

      p {
        font-family: "Montserrat", sans-serif;
        font-size: 1.15rem;
      }

      .boxIcons {
        display: flex;
        flex-direction: row;
        margin-top: 1rem;
        gap: 1rem;

        a {
          color: inherit;
          text-decoration: none;
        }

        .bgIcons {
          background-color: #fff;
          color: #f6339a;
          width: 50px;
          height: 50px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
        }
      }

      .iconTikTok {
        font-size: 1.25em;
      }
    }
  }
}

@media (max-width: 500px) {
  .mainContato {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding: 0 0.5rem 2rem 0.5rem;
    width: 100%;

    h1 {
      font-size: 2.25rem;
    }

    p {
      font-size: 1rem;
    }

    .containerInfo {
      display: flex;
      flex-direction: column;
      padding: 0;
      width: 90%;
      margin-top: 2rem;

      .formContato {
        padding: 20px;
        width: 100%;
        align-items: flex-start;

        input {
          width: 100%;
          font-size: 16px;
        }

        .caixaMensagem {
          width: 100%;
        }

        button {
          width: 100%;
        }
      }

      article {
        .item {
          width: auto;

          .circulo {
            width: 40px;
            height: 40px;
          }
          .infoContato {
            align-items: flex-start;
          }
        }
      }
    }
  }

  .redes {
    align-items: center;
  }
}
