.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.123);
  top: 0;
  background-color: #fff;
  z-index: 100;

  .BoxLogo {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 0.75rem;
    text-decoration: none;

    h1 {
      color: #fb64b6;
    }
    img {
      width: 4%;
      @media (max-width: 500px) {
        width: 7%;
      }
    }
  }

  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
    padding: 1rem;

    span {
      width: 25px;
      height: 3px;
      background-color: #fb64b6;
      border-radius: 5px;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      display: flex;
      gap: 2rem;
      li {
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-right: 2rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #000;
        }
        a:hover {
          color: #fb64b6;
        }
      }
    }

    @media (max-width: 500px) {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #fff;
      box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);

        ul {
        flex-direction: column;
        align-items: center;
        padding: 1.5rem 0;
        gap: 1.5rem;

        li {
          margin-right: 0;
        }
      }

      &.active {
        display: flex;
      }
    }
  }

  @media (max-width: 500px) {
    .hamburger {
      display: flex;
    }
  }
}
