.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.123);
  top: 0;
  background-color: #fff;
  z-index: 100;

  .hamburguer {
    display: none;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    color: #fb64b6;
  }

  .BoxLogo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    text-decoration: none;

    h1 {
      color: #fb64b6;
    }
    img {
      width: 50px;
      border-radius: 50%;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      display: flex;
      gap: 2rem;
      li {
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-right: 2rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #000;
          transition: 0.2s;
        }
        a:hover {
          color: #fb64b6;
        }
      }
    }

    @media (max-width: 500px) {
      .hamburguer {
        display: block;
        z-index: 20;
      }

      .nav{
        position: fixed;
        top: 0;
        right: -100%;
        width: 70%;
        height: 100vh;
        transition: right 0.3s ease-in-out;
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 15;

        &.ativo {
          right: 0;
        }

        ul {
          flex-direction: column;
          align-items: center;
          padding-top: 2rem;
        }
      }
    }
  }
}
