.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: sticky;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.123);
  top: 0;
  background-color: #fff;

  .BoxLogo {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.75rem;
    text-decoration: none;

    h1 {
      color: #fb64b6;
    }
    img {
      width: 10%;
      border-radius: 50%;
    }
  }

  nav {
    display: flex;
    justify-content: space-around;
    align-items: center;

    ul {
      display: flex;
      gap: 2rem;
      li {
        list-style-type: none;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        margin-right: 2rem;
        cursor: pointer;

        a {
          text-decoration: none;
          color: #000;
        }
        a:hover {
          color: #fb64b6;
        }
      }
    }

    @media (max-width: 500px) {
      display: none;
    }
  }
}
