.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1rem;
  padding: 1.5rem;
  background: linear-gradient(90deg, #fce4ec 0%, #f3e5f5 50%, #e3f2fd 100%);
  

  .BoxLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h1 {
      color: #fb64b6;
    }
    img {
      width: 5%;
      @media (max-width: 500px) {
        width: 7%;
      }
    }
  }

  .BoxTexto {
    display: flex;
    align-items: center;
  }
  p {
    text-align: center;
  }
}
