.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;
    background: linear-gradient(
    180deg,
    #fdb2d046 0%,
    #fff 99%
  );
    box-shadow: 0 0 4px rgba($color: #fdb2d046, $alpha: 1.0);

  .BoxLogo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    h1 {
      color: #fb64b6;
    }
    img {
      width: 14%;
      border-radius: 50%;
    }
  }


  .BoxTexto {
    display: flex;
    align-items: center;
  }
}