.mainCardapio {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    height: auto;
    padding-bottom: 4rem;

    .textoCardapio {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        text-align: center;

        h2 {
            font-family: 'Playfair Display', serif;
        }
    }

    .containerCards {
        display: flex;
        flex-direction: column;
        gap: 1.75rem;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
        width: 90%;

        article {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            width: 80%;
            border-radius: 0 0 12px 12px;
            box-shadow: 5px 5px 15px rgb(0, 0, 0, 0.1);
            padding-bottom: 1rem;

            img {
                width: 100%;
                height: 280px;
                border-radius: 12px 12px 0 0;
            }

            .textoCards {
                padding: 12px;
                display: flex;
                flex-direction: column;
                gap: 12px;

                p {
                    font-size: 14px;
                    width: 100%;
                }
            }

            .boxPrecoLink {
                display: flex;
                padding: 0 12px;
                width: 100%;
                margin-top: 5px;
                margin-bottom: 5px;
                justify-content: space-between;

                a, p {
                    color: #F6339A;
                }
            }
        }
    }
}